@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/helvetica-light-light.eot") format("embedded-opentype"), url("../fonts/helvetica-light-light.woff") format("woff"), url("../fonts/helvetica-light-light.ttf") format("truetype"), url("../fonts/helvetica-light-light.svg#HelveticaLightLight") format("svg");
  src: url("../fonts/helvetica-light-light.eot"); }

@font-face {
  font-family: 'Amadeus';
  src: url("../fonts/Amadeus.ttf") format("truetype"); }

a {
  outline: none; }
  a:hover {
    text-decoration: none; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaLight", Arial, sans-serif;
  background: #fff; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }

.img-full-width {
  width: 100%;
  height: auto; }

.no-col-padding {
  padding-right: 0;
  padding-left: 0; }

/*==== no default background ====*/
.nav li a:hover, .nav li a:focus {
  background-color: transparent; }

.nav .open a:focus, .nav .open a:hover, .nav .open a:active, .nav .open a:link {
  background-color: transparent;
  text-decoration: none; }

/*================================*/
.wrapper {
  width: 100%;
  height: 100%; }
  .wrapper .navbar_custom {
    margin-bottom: 0;
    width: 100%;
    color: #fff;
    background: #0142b6;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #afb1b4; }
    .wrapper .navbar_custom .navbar-header {
      position: relative; }
      .wrapper .navbar_custom .navbar-header .navbar-toggle {
        background: #fff; }
        .wrapper .navbar_custom .navbar-header .navbar-toggle .icon-bar {
          background: #000; }
      .wrapper .navbar_custom .navbar-header .navbar-brand {
        display: block;
        font-size: 80px;
        font-family: 'Amadeus';
        line-height: 30px;
        padding: 25px;
        color: #fff; }
      .wrapper .navbar_custom .navbar-header:hover {
        text-decoration: none;
        cursor: pointer; }
    .wrapper .navbar_custom .nav-menu {
      width: 80%;
      text-align: center; }
      .wrapper .navbar_custom .nav-menu li {
        float: none;
        display: inline-block; }
        .wrapper .navbar_custom .nav-menu li a {
          display: block;
          padding: 30px 20px;
          font-size: 18px;
          font-family: "Raleway", sans-serif;
          color: #fff;
          transition: .3s all; }
          .wrapper .navbar_custom .nav-menu li a:hover, .wrapper .navbar_custom .nav-menu li a:focus {
            color: #929191; }
    .wrapper .navbar_custom .contacts-menu {
      position: absolute;
      right: 0;
      top: 0;
      padding: 18px; }
      .wrapper .navbar_custom .contacts-menu li {
        border: 2px solid #fff;
        margin-right: 15px;
        background: #fff;
        border-radius: 50%; }
        .wrapper .navbar_custom .contacts-menu li a {
          text-align: center;
          vertical-align: middle;
          font-size: 28px;
          padding: 6px;
          color: #fff;
          background: #0142b6;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          transition: .3s all; }
          .wrapper .navbar_custom .contacts-menu li a:hover, .wrapper .navbar_custom .contacts-menu li a:focus {
            opacity: .7; }
        .wrapper .navbar_custom .contacts-menu li .envelope {
          font-size: 22px;
          padding: 9px; }
  .wrapper .content {
    margin-top: 80px; }
    .wrapper .content .block_wallpaper {
      padding: 0;
      width: 100%;
      height: 200px;
      background: url("../img/tallinn.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%; }
      .wrapper .content .block_wallpaper .block_opacity {
        margin: 0;
        width: 100%;
        height: 100%; }
    .wrapper .content .block_about .block_about__header {
      color: #4c505d;
      margin: 60px 0;
      padding: 20px 0;
      text-align: center;
      font-family: "HelveticaLight";
      font-size: 44px;
      line-height: 1.5em;
      border-top: 1px solid #afb1b4;
      border-bottom: 1px solid #afb1b4; }
      .wrapper .content .block_about .block_about__header span {
        font-weight: bold;
        position: relative; }
    .wrapper .content .block_about .block_about__content {
      margin-bottom: 50px;
      margin-right: 0;
      margin-left: 0;
      padding: 0; }
      .wrapper .content .block_about .block_about__content h2 {
        margin-top: 0; }
      .wrapper .content .block_about .block_about__content p {
        font-size: 20px; }
    .wrapper .content .block_about .promo-btn {
      border: 3px solid #afb1b4;
      border-radius: 8px;
      margin: 0 auto 60px;
      width: 300px;
      background: rgba(127, 127, 0, 0.7); }
      .wrapper .content .block_about .promo-btn a {
        background: transparent;
        border-radius: 5px;
        color: #e4e4e4;
        cursor: pointer;
        display: block;
        font-size: 20px;
        line-height: 2.5em;
        text-align: center;
        text-transform: uppercase;
        transition: 1s; }
        .wrapper .content .block_about .promo-btn a:hover {
          background: #fff;
          color: #929191;
          text-decoration: none; }
    .wrapper .content .block_works {
      width: 100%;
      padding: 100px 0;
      background: #00d089; }
      .wrapper .content .block_works .portrait {
        border: 3px solid #fff;
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto; }
      .wrapper .content .block_works h3 {
        color: #fff;
        text-align: center; }
    .wrapper .content .block_work-exp, .wrapper .content .block_education {
      padding: 100px 0;
      width: 100%;
      font-family: "Raleway", sans-serif;
      color: #4c505d;
      font-size: 18px; }
      .wrapper .content .block_work-exp .block_work-exp__content p, .wrapper .content .block_work-exp .block_education__content p, .wrapper .content .block_education .block_work-exp__content p, .wrapper .content .block_education .block_education__content p {
        margin: 10px 0; }
    .wrapper .content .block_education {
      color: #fff;
      background: #d58512; }
      .wrapper .content .block_education .block_education__content .vanilla, .wrapper .content .block_education .block_education__content .vanilla2 {
        font-size: 18px;
        font-weight: bold;
        color: #0142b6;
        transition: 1s; }
        .wrapper .content .block_education .block_education__content .vanilla:hover, .wrapper .content .block_education .block_education__content .vanilla2:hover {
          color: #269abc; }
    .wrapper .content .block_contacts {
      width: 100%;
      height: 32em;
      position: relative; }
      .wrapper .content .block_contacts .geolocation {
        height: 100%;
        width: 100%; }
      .wrapper .content .block_contacts .contacts-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 16px; }
  .wrapper footer {
    width: 100%;
    background: #7f7f00;
    color: #fff; }
    .wrapper footer h5 {
      margin: 0;
      line-height: 50px;
      text-align: center; }

@media (max-width: 992px) {
  .wrapper .navbar_custom .nav-menu li a {
    padding: 30px 10px; } }

@media (min-width: 768px) and (max-width: 910px) {
  .wrapper .navbar_custom .contacts-menu {
    display: none; } }

@media (max-width: 767px) {
  .wrapper .navbar_custom .navbar-header .navbar-toggle {
    z-index: 1000;
    margin-right: 25px; }
  .wrapper .navbar_custom .navbar-header .navbar-brand {
    font-size: 60px;
    padding: 20px;
    line-height: 20px; }
  .wrapper .navbar_custom .nav-menu {
    margin: 0;
    width: 100%;
    position: relative; }
    .wrapper .navbar_custom .nav-menu li {
      display: block;
      border-bottom: 1px solid #afb1b4; }
      .wrapper .navbar_custom .nav-menu li a {
        padding: 10px; }
      .wrapper .navbar_custom .nav-menu li:last-child {
        border-bottom: none; }
  .wrapper .navbar_custom .contacts-menu {
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center; }
    .wrapper .navbar_custom .contacts-menu li {
      display: inline-block; }
      .wrapper .navbar_custom .contacts-menu li a {
        padding: 3px;
        width: 34px;
        height: 34px; }
      .wrapper .navbar_custom .contacts-menu li .envelope {
        padding: 5px; }
  .wrapper .content .block_about .block_about__header {
    margin: 20px 0;
    padding: 10px 0;
    font-size: 22px; }
  .wrapper .content .block_about .block_about__content {
    margin-bottom: 20px; }
    .wrapper .content .block_about .block_about__content h2 {
      font-size: 18px; }
    .wrapper .content .block_about .block_about__content p {
      font-size: 15px; }
  .wrapper .content .block_about .promo-btn {
    margin: 0 auto 20px; }
  .wrapper .content .block_works, .wrapper .content .block_work-exp, .wrapper .content .block_education {
    padding: 30px 0; } }

@media (max-width: 400px) {
  .wrapper .content {
    margin-top: 50px; }
    .wrapper .content .block_about .block_about__header {
      text-align: left; } }
